

<div class="modal-header">
        <h3 class="modal-title">Switch Doctor</h3>
    </div>
    <div class="modal-body">
    
        <label>Select Doctor</label>
        
        <input type="text" ng-model="rnSelect" uib-typeahead="doctors.name for doctors in doctors() | filter:$viewValue | limitTo:8" class="form-control" typeahead-editable="false"
       typeahead-on-select="setDoctor($item)">
        
        </div>

    <div class="modal-footer">
        <button class="btn btn-outline btn-default" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-outline btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>